<!--Th home page shows some direction-->
<% include ./partials/header%>
<body> 
    <div class= "click">
        <h1>CLICK CLIKC CLICK CLICK CLICLKCLCIICLKCL CLIKC CLICLKLCL CLIKC CLICK CLICKC CLIKC CLICK CLICK CLIKC CLICLKLCC CLICK CLICKC LICKC LCIKC CLIKC CLICK CLIKC CLICK CLKC CLICKC LICK CLICK CLIKC CLIKC CLICK CLICKC CLIC SOMEWHERE</h1>
    </div>
</body>
<% include ./partials/navbar%>
<% include ./partials/footer%>